<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <title>Olympiad Compiler</title>
</head>

<body>

  <%- include("partials/header.ejs")%>

  <main class="main-content">
    <div class="title">
        The Olympiad Textbook Organizer (TOTO)
    </div>
    <!-- Form to filter textbooks and sort them by rating/name -->
    <div class="filter">
      <form action="/filter" method="POST" class="filter-form">
        <img src="assets/filter_image.png" class="filter-img">
        <select id="category" name="category" class="filter-element">
          <option value="" disabled <%= category === 'Category' ? 'selected' : '' %> hidden>Category</option>
          <option value="Any" <%= category === 'Any' ? 'selected' : '' %>>Any</option>
<option value="Physics" <%= category === 'Math' ? 'selected' : '' %>>Math</option>
          <option value="Physics" <%= category === 'Physics' ? 'selected' : '' %>>Physics</option>
          <option value="Biology" <%= category === 'Biology' ? 'selected' : '' %>>Biology</option>
          <option value="Chemistry" <%= category === 'Chemistry' ? 'selected' : '' %>>Chemistry</option>
<option value="EarthScience" <%= category === 'EarthScience' ? 'selected' : '' %>>Earth Science</option>
<option value="Astronomy" <%= category === 'Astronomy' ? 'selected' : '' %>>Astronomy</option>

        </select>
        <select id="level" name="level" class="filter-element">
          <option value="" disabled <%= level === 'Level' ? 'selected' : '' %> hidden>Difficulty</option>
          <option value="Any" <%= level === 'any' ? 'selected' : '' %>>Any</option>
          <option value="Introductory" <%= level === 'Introductory' ? 'selected' : '' %>>Introductory</option>
          <option value="Advanced" <%= level === 'Advanced' ? 'selected' : '' %>>Advanced</option>
        </select>
        <img src="assets/sorting_image.png" class="sorting-img">
        <select id="sort" name="sort" class="filter-element">
          <option value="name" <%= sort === 'name' ? 'selected' : '' %>>Name</option>
          <option value="rating" <%= sort === 'rating' ? 'selected' : '' %>>Rating</option>
        </select>
        <select id="order" name="order" class="filter-element">
          <option value="ASC" <%= order === 'ASC' ? 'selected' : '' %>>Ascending</option>
          <option value="DESC" <%= order === 'DESC' ? 'selected' : '' %>>Descending</option>
        </select>
        <input type="submit" value="Filter" class="submit-element">
      </form>
    </div>
    <!-- List all of the textbooks -->
    <div class="textbook-container">
      <!-- Iterate through textbooks and add div element for each textbook -->
      <% for(let i = 0; i < textbooks.length; i++) {
      let textbook = textbooks[i]; 
      const link = `books/${textbook.name} by ${textbook.author}`%>
      <a href="<%=link%>" class="book-link">
        <div class="textbook-cell">
          <% const imageURL = `https://covers.openlibrary.org/b/isbn/${textbook.isbn}-M.jpg`%>
          <img src="<%=imageURL%>" class="textbook-pic">
          <div class="textbook-title">
            <%=textbook.name%>
          </div>
          <div class="textbook-author">
            by <%=textbook.author%>
          </div>
          <% const rating = textbook.rating;%>
          <div class="rating">
            <% for(let j = 1; j < 6; j++){ %>
              <% if(j <= Math.floor(rating)) {%>
                <span class="filled-star"></span>
              <% } else {%>
                <span class="star"></span>
              <% } %>
            <% } %>
            <%=rating.toFixed(1)%>/5.0 (<%=textbook.numratings%>)
          </div>
        </div>
      </a>
      <% } %>
      <!-- Add Button Element -->
      <% if(locals.username) { %>
      <div class="button-container">
        <a href="add" class="button-link"> <button class="plus-button">+</button></a>
      </div>
      <% } %>
    </div>
    <div class="bottom-text">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScOmMfrdXUTcaVpWyz4cUGABn6-woyINztnZcS0KVgpkz0aeg/viewform?usp=sf_link" target="_blank">Don't see your favorite textbook here?</a>
    </div>
  </main>

<%- include("partials/footer.ejs") %>